* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 1.125rem / 1.4 "Space Grotesk", Helvetica, sans-serif;
  color: #222;
}

body {
  background: rgb(253, 253, 253);
  background-image: radial-gradient(#717171 20%, transparent 20%),
    radial-gradient(#fff 20%, transparent 20%);
  background-color: #fff;
  background-position: 0 0, 3px 3px;
  background-size: 6px 6px;
}

video {
  max-width: 100%;
}

@media only screen and (max-width: 720px) {
  html {
    font-size: 1.0625rem;
  }
}
